@import "~normalize.css";
@import "./utils";
@import "./theme";
@import "./dialog";
@import "./button";
@import "./navbar";
@import "./toolbar";
@import "./trainer-edit";
@import "./inputs";
@import "./menubar";

#app {
  font-family: "Fira Sans", "Roboto", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  background-color: var(--background-bg-color);
  height: 100%;
  --foreground-bg-color: #3b3b3b;
  --foreground-h-bg-color: #4e4e4e;
  --middleground-bg-color: #343434;
  --middleground-h-bg-color: #000;
  --background-bg-color: #222222;
  --background-h-bg-color: #000;
  --text-color: #bdbdbd;
  --text-h-color: #fff;
  --accent-color: #a75900;
  --accent-h-color: #ffb42e;
  color: var(--text-color);
}

html, body {
  height: 100%;
}

body {
  overflow-y: hidden;
}

#recentProjects {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.pokeIcon {
  width: 32px;
  height: 32px;
  margin-top: -8px;
}
