@import "./utils";
@import "./theme";
@import "./dialog";
@import "./button";
@import "./navbar";
@import "./trainer-edit";

#app {
  font-family: "Fira Sans", "Roboto", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#recentProjects {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

