.asset-manager {
  display: flex;
  height: 100%;
  width: 100%;
}

.am {
  &--outliner {
    padding: 5px;
  }
  &--explorer {
    padding: 5px;
    //height: 200px;
    overflow: auto;
    width: 100%;
    @include grid(90px);
  }
  &--bigentry {
    width: 90px;
    cursor: pointer;
  }
}

.ame {
  &--img {
    width: 64px;
    margin: 0 auto;
    margin-bottom: 5px;
    display: block;
  }
  &--title {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &--selected {
    background-color: #000091;
    border-radius: 3px;
  }
}

.list-btn {
  display: inline-block;
  padding: 3px 5px;
  cursor: pointer;
  &.selected {
    color: white;
    border-radius: 3px;
    background-color: #000091;
  }
}
