.button {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  &:hover {
  }
  flex-direction: column;
  padding: 2px 5px;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  color: black;
  background-image: linear-gradient(0deg, #aaa 0%, #fff 100%);
  &.active {
    box-shadow: black 0 0 6px inset;
  }
}

.importbtn-wrapper {
  height: 40px;
  width: 400px;
  padding: 6px;
  position: relative;
}

.importbtn {
  width: 100%;
  text-align: center;
}

.importbtn-name,
.importbtn-path {
  font-size: 15px;
  display: block;
}

.importbtn-path {
  font-size: 11px;
  margin-top: 7px;
}

.importbtn-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.importbtn-close-text {
  opacity: 0;
  font-size: 15px;
  &:hover {
    opacity: 1 !important;
  }
}

.importbtn-wrapper:hover .importbtn-close-text {
  opacity: 0.5;
}
