.text-input {
  border: 1px solid var(--border-color);
  padding: 2px 5px;
  padding-top: 3px;
  box-shadow: black 1px 1px 3px inset;
  border-radius: 3px;
  background-color: var(--background-color);
}
