.panel {
  border: 1px solid #2a2a2a;
  background-color: grey;
  box-shadow: 1px 1px 8px black;
  height: 100%;
  position: relative;
  z-index: 2;
  overflow: hidden;
  padding: 5px;
}

.splitpanes__pane {
  overflow: unset;
}

.default-theme.splitpanes .splitpanes .splitpanes__splitter {
  z-index: unset;
}

.splitpanes.default-theme .splitpanes__pane {
  background-color: unset;
}

.splitpanes.default-theme .splitpanes__splitter {
  background-color: unset;
  z-index: unset;
}

.masterpanel {
  height: 100%;
  margin-top: -28px;
  padding: 28px + 5px 5px 5px;
  background-color: #6c6c6c;
}
