.trainer-grid {
  @include grid(580px);
}

.trainer-class-grid {
  @include grid(190px);
}

.item-grid {
  @include grid(140px);
}

.pokemon-grid {
  @include grid(100px);
}

@mixin hover-effect($margin-top, $margin-left) {
  cursor: pointer;
  &:hover {
    &:before {
      content: "";
      display: block;
      border: 30px solid #cfcfcf;
      border-radius: 100px;
      position: absolute;
      z-index: -1;
      margin-left: $margin-left;
      margin-top: $margin-top;
    }
  }
}

.trainer-id {
  font-size: 10px;
  position: absolute;
  right: 20px;
  opacity: 0.5;
}

.trainer-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
  margin-top: 6px;
}

.trainer-class {
  font-size: 10px;
  opacity: 0.7;
}

.trainer-main {
  height: 100%;
  $width: 90px;
  padding: 14px 0 0;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  width: $width;
  max-width: $width;
  text-align: center;
  border-radius: 0;
  @include hover-effect(6px, 15px);
  z-index: 2;
}

.trainer-pic,
.party-pic {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.trainer-card {
  height: 130px;
}

.party-pic {
  overflow: hidden;
}

.trainer-party-mon {
  padding: 20px 5px 0;
  width: 80px;
  text-align: center;
  @include hover-effect(0, 5px);
  z-index: 2;
}

.party-name {
  font-size: 12px;
}

.party-lvl {
  font-size: 10px;
}
